@using Pelo.Common.Dtos.Product
@using Pelo.v2.Web.Models.Invoice
@using Pelo.v2.Web.Models.Product
@model Pelo.v2.Web.Models.Invoice.InvoiceInsertModel

@{
    ViewBag.Title = "Thêm mới đơn hàng";
    Layout = "_Layout";
}

@section cssPlugin{
    <link href="~/startui/css/separate/vendor/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/startui/css/separate/vendor/bootstrap-daterangepicker.css" rel="stylesheet" />
    <link href="~/startui/css/lib/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" />
}

@section css{
    <style>
        .label-content {
            color: #6b6fb9;
            font-weight: 600;
        }

        .divider {
            border: 1px solid #c6c6c6;
            margin-bottom: 20px;
        }

        a.btn.title-history {
            width: 100% !important;
            background-color: white !important;
            color: black !important;
            text-align: left !important;
            border-color: #c6c6c6 !important;
        }

        .dataTables_length {
            display: none;
        }
    </style>
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Invoice")">Danh sách đơn hàng</a></li>
    <li class="active">Thêm mới đơn hàng</li>
</ol>

<section class="card">
    <div class="card-block">
        <form id="insert-crm" method="post">
            @Html.HiddenFor(c => c.CustomerId)
            @Html.HiddenFor(c=>c.Products)
            @Html.HiddenFor(c=>c.ProductRaw)
            @Html.ValidationSummary()
            <div class="row">
                <div class="col-lg-12">
                    <h3>Thông tin khách hàng</h3>
                </div>
                @await Component.InvokeAsync("CustomerDetail",
                                             Model.Customer)
                <div class="col-lg-12">
                    <div class="divider"></div>
                </div>
                <div class="col-lg-12">
                    <h3>Lên đơn</h3>
                </div>
                <div class="col-lg-6">
                    <select class="form-control select2" onchange="selectProduct();" id="listProducts">
                        <option value="0">--Chọn thêm sản phẩm--</option>
                        @{
                            var products = ViewBag.Products as List<ProductSimpleModel>;
                            if(products!=null) {
                                foreach (var product in products)
                                {
                                    <option value="@product.Id" data-price="@product.SellPrice">@product.Name</option>
                                }
                            }
                            
                        }
                    </select>
                </div>
                <div class="col-lg-12" style="margin-top:20px;">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Ghi chú</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2"></th>
                                    <th>Tổng cộng:</th>
                                    <th colspan="2"><input id="txtTotal" class="form-control money-mask-input" value="0" readonly="readonly" style="text-align:right;"/></th>
                                </tr>
                                <tr>
                                    <th colspan="2"></th>
                                    <th>Giảm giá:</th>
                                    <th colspan="2"><input asp-for="Discount" class="form-control money-mask-input" placeholder="Giảm giá" onblur="changeDiscount();" value="@Model.Discount" style="text-align:right;"/></th>
                                </tr>
                                <tr>
                                    <th colspan="2"></th>
                                    <th>Thanh toán:</th>
                                    <th colspan="2"><input id="txtAmount" class="form-control money-mask-input" value="0" readonly="readonly" style="text-align:right;"/></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-top:20px;">
                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                        <a class="btn btn-default" href="@Url.Action("Index", "Invoice")">Hủy</a>
                    </fieldset>
                </div>
            </div>

        </form>
    </div>
</section>

@section jsPlugin{
    <script src="~/startui/js/lib/moment/moment-with-locales.js"></script>
    <script src="~/startui/js/lib/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/startui/js/lib/clockpicker/bootstrap-clockpicker.min.js"></script>
    <script src="~/startui/js/lib/clockpicker/bootstrap-clockpicker-init.js"></script>
    <script src="~/startui/js/lib/daterangepicker/daterangepicker.js"></script>
    <script src="~/startui/js/lib/input-mask/jquery.mask.min.js"></script>
    <script src="~/startui/js/lib/input-mask/input-mask-init.js"></script>
    <script>
        var index = 0;
        var products=[];
        function selectProduct() {
            var productId=$('#listProducts').val();
            if (productId != 0) {
                var product = $('[value=' + productId + ']');
                if(product) {
                    var content='<tr id="tr-'+index+'"><td>'+
                        product.text()+
                        '</td><td><input id="productDescription-'+index+'" class="form-control" placeholder="Ghi chú" onblur="changeDescription('+index+')"/></td><td>'+
                        //'<input id="productPrice" class="form-control" value="' + Util.number.format(product.data().price)+'" onblur="changePrice('+index+')" type="number"/>'+
                        '<input id="productPrice" class="form-control money-mask-input" value="' + product.data().price+'" onblur="changePrice('+index+')"/>'+
                        '</td><td><input id="productQuantity" class="form-control" value="1" type="number" onblur="changeQuantity('+index+')"/></td><td>'+
                        '<input id="productAmount" class="form-control money-mask-input" value="' + product.data().price + '" readonly="readonly"/>' +
                        '</td><td><a href="javascript:deleteProduct('+index+')" class="btn btn-danger"><i class="fa fa-remove"></i></a></td></tr>';
                    $('tbody').append(content);
                    products.push({ index: index, id: productId, description: '', quantity: 1, price: product.data().price });
                    recallTotal();
                    index++;
                }
            }
        }
        function deleteProduct(index) {
            var productIndex = products.findIndex(c => c.index === index);
            if (productIndex) {
                products=products.splice(productIndex,productIndex>=0?1:0);
            }
            $('#tr-' + index).remove();
        }
        function changeDescription(index) {
            var product=getProductByIndex(index);
            if(product) {
                product.description=$('#productDescription-'+index).val();
            }
        }
        function changePrice(index) {
            var product = getProductByIndex(index);
            if (product) {
                var price = parseInt($('#productPrice').val().replace(/\,/g,''));
                product.price = price;
                $('#productAmount').val(Util.number.format(price * product.quantity));
                recallTotal();
            }
            
        }
        function changeQuantity(index) {
            var product=getProductByIndex(index);
            var quantity = $('#productQuantity').val();
            product.quantity = quantity;
            $('#productAmount').val(Util.number.format(quantity * product.price));
            recallTotal();
        }
        function getProductByIndex(index) { return products.find(c => c.index === index); }
        function recallTotal() {
            var total=products.sum(c => c.price*c.quantity);
            $('#txtTotal').val(Util.number.format(total));
            var discount = parseInt($('#Discount').val().replace(/\,/g, ''));
            $('#txtAmount').val(Util.number.format(total-discount));
        }
    </script>
}
