@model Pelo.v2.Web.Models.Customer.CustomerUpdateModel

@{
    ViewBag.Title = "Cập nhật khách hàng " + Model.Name;
    Layout = "_Layout";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Customer")">Danh sách khách hàng</a></li>
    <li><a href="@Url.Action("Detail","Customer",new {
                                                             id=Model.Id
                                                     })">Thông tin khách hàng</a></li>
    <li class="active">Cập nhật khách hàng</li>
</ol>

<section class="card">
    <div class="card-block">
        <form asp-controller="Customer" asp-action="Edit" method="post" id="customer-form">
            @Html.ValidationSummary()
            @Html.HiddenFor(c=>c.Id)
            @Html.HiddenFor(c=>c.Code)
            <div class="row">
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <nop-label asp-for="Code" text-display="Mã khách hàng" />
                        <input asp-for="Code" class="form-control" type="text" placeholder="Mã khách hàng" readonly="readonly"/>
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <nop-label asp-for="Name" text-display="Tên khách hàng" />
                        <input asp-for="Name" class="form-control" type="text" placeholder="Tên khách hàng" />
                        @Html.ValidationMessageFor(c => c.Name)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <nop-label asp-for="Phone" text-display="Số điện thoại" />
                        <input asp-for="Phone" class="form-control" type="text" placeholder="Số điện thoại" />
                        @Html.ValidationMessageFor(c => c.Phone)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <nop-label asp-for="Phone2" text-display="Số điện thoại 2" />
                        <input asp-for="Phone2" class="form-control" type="text" placeholder="Số điện thoại 2" />
                        @Html.ValidationMessageFor(c => c.Phone2)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <nop-label asp-for="Phone3" text-display="Số điện thoại 3" />
                        <input asp-for="Phone3" class="form-control" type="text" placeholder="Số điện thoại 3" />
                        @Html.ValidationMessageFor(c => c.Phone3)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <nop-label asp-for="Email" text-display="Email" />
                        <input asp-for="Email" class="form-control" type="text" placeholder="Email" />
                        @Html.ValidationMessageFor(c => c.Email)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <nop-label asp-for="Address" text-display="Địa chỉ" />
                        <input asp-for="Address" class="form-control" type="text" placeholder="Địa chỉ" />
                        @Html.ValidationMessageFor(c => c.Address)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <nop-label asp-for="ProvinceId" text-display="Tỉnh thành" />
                        <nop-select asp-for="ProvinceId" asp-items="Model.AvaiableProvinces" />
                        @Html.ValidationMessageFor(c => c.ProvinceId)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <nop-label asp-for="DistrictId" text-display="Quận huyện" />
                        <nop-select asp-for="DistrictId" asp-items="Model.AvaiableDistricts" />
                        @Html.ValidationMessageFor(c => c.DistrictId)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <nop-label asp-for="WardId" text-display="Phường xã" />
                        <nop-select asp-for="WardId" asp-items="Model.AvaiableWards" />
                        @Html.ValidationMessageFor(c => c.WardId)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <nop-label asp-for="CustomerGroupId" text-display="Nhóm khách hàng" />
                        <nop-select asp-for="CustomerGroupId" asp-items="Model.AvaiableCustomerGroups" />
                        @Html.ValidationMessageFor(c => c.CustomerGroupId)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <nop-label asp-for="Description" text-display="Ghi chú" />
                        <input asp-for="Description" class="form-control" type="text" placeholder="Ghi chú" />
                        @Html.ValidationMessageFor(c => c.Description)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                        <a class="btn btn-default" href="@Url.Action("Detail",
                                                                     "Customer",new {
                                                                                            id=Model.Id
                                                                                    })">Hủy</a>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</section>

@section js{
    <script>
        $(document).ready(function() {
            $('.opened').removeClass('opened');
            $('.row-active').removeClass('row-active');
            $('#liCustomers').addClass('opened');
            $('#liCustomer').addClass('row-active');
            $("#@Html.IdFor(model => model.ProvinceId)").change(function() {
                var selectedItem=$(this).val();
                loadDistricts(selectedItem);
            });
            $("#@Html.IdFor(model => model.DistrictId)").change(function() {
                var selectedItem=$(this).val();
                loadWards(selectedItem);
            });
            loadDistricts('@Model.ProvinceId', '@Model.DistrictId');
        });
        function loadDistricts(provinceId,selectedValue) {
            var dllDistricts=$("#@Html.IdFor(model => model.DistrictId)");
            $.ajax({
                    cache:true,
                    type:"POST",
                    url:"@Url.Action("GetDistrictByProvinceId", "District")",
                    data:{
                            "provinceId":provinceId,
                            "addAll":"true"
                        },
                    success:function(data,textStatus,jqXHR) {
                        dllDistricts.html('');
                        $.each(data,
                            function(id,option) {
                                dllDistricts.append($('<option></option>').val(option.Id)
                                    .html(option.Type+' '+option.Name));
                            });
                        if(selectedValue) {
                            $('#DistrictId').val(selectedValue).trigger('change');
                            loadWards('@Model.DistrictId','@Model.WardId');
                        } else {
                            loadWards(99999999);
                        }
                    },
                    error:function(jqXHR,textStatus,errorThrown) {
                        $("#statesAlert").click();
                        console.log("jqXHR: "+jqXHR);
                        console.log("textStatus: "+textStatus);
                        console.log("errorThrown: "+errorThrown);
                    }
                });
        }
        function loadWards(districtId,selectedValue) {
            var dllWards=$("#@Html.IdFor(model => model.WardId)");
            $.ajax({
                    cache:true,
                    type:"POST",
                    url:"@Url.Action("GetWardByDistrictId", "Ward")",
                    data:{
                            "districtId":districtId,
                            "addAll":"true"
                        },
                    success:function(data,textStatus,jqXHR) {
                        dllWards.html('');
                        $.each(data,
                            function(id,option) {
                                dllWards.append($('<option></option>').val(option.Id)
                                    .html(option.Type+' '+option.Name));
                            });
                        if(selectedValue) {
                            $('#WardId').val(selectedValue).trigger('change');
                        }
                    },
                    error:function(jqXHR,textStatus,errorThrown) {
                        $("#statesAlert").click();
                        console.log("jqXHR: "+jqXHR);
                        console.log("textStatus: "+textStatus);
                        console.log("errorThrown: "+errorThrown);
                    }
                });
        }
    </script>
}

