@model Pelo.v2.Web.Models.Candidate.UpdateCandidateModel
@{
    ViewBag.Title = "Thêm mới ứng viên";
    Layout = "_Layout";
}
@section cssPlugin{
    <link rel="stylesheet" href="@Url.Content("~/lib/spectrum/spectrum.css")">
}
@section jsPlugin {
    <script src="@Url.Content("~/lib/spectrum/spectrum.js")"></script>
}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","CandidateStatus")">Danh sách ứng viên</a></li>
    <li class="active">Thêm mới ứng viên</li>
</ol>

<section class="card">
    <div class="card-block">
        <form asp-controller="Candidate" asp-action="Add" method="post" id="Candidate-form">
            @Html.ValidationSummary()
            <div class="row">
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="Name">Tên ứng viên</label>
                        <input asp-for="Name" class="form-control" type="text" placeholder="Tên ứng viên" />
                        @Html.ValidationMessageFor(c => c.Name)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="Phone">Số điện thoại</label>
                        <input asp-for="Phone" class="form-control" type="text" placeholder="Số điện thoại" />
                        @Html.ValidationMessageFor(c => c.Phone)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="Address">Địa chỉ</label>
                        <input asp-for="Address" class="form-control" type="text" placeholder="Địa chỉ" />
                        @Html.ValidationMessageFor(c => c.Address)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="Email">Email</label>
                        <input asp-for="Email" class="form-control" type="text" placeholder="Email" />
                        @Html.ValidationMessageFor(c => c.Email)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="Description">Ghi chú</label>
                        <textarea asp-for="Description" class="form-control" type="text" placeholder="Ghi chú" ></textarea>
                        @Html.ValidationMessageFor(c => c.Description)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                        <a class="btn btn-default" href="@Url.Action("Index", "Candidate")">Hủy</a>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</section>

@section js{
    <script>
        $(document).ready(function () {
            $('.opened').removeClass('opened');
            $('.row-active').removeClass('row-active');
            $('#liJob').addClass('opened');
            $('#liCandidate').addClass('row-active');
        })
    </script>
}
