@using Newtonsoft.Json
@using Pelo.v2.Web.Models.Candidate
@model Pelo.v2.Web.Models.Candidate.UpdateCandidateModel

@{
    ViewBag.Title = "Thông tin Ứng viên ";
    Layout = "_Layout";
}

@section cssPlugin{
    <link href="~/startui/css/separate/vendor/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/startui/css/separate/vendor/bootstrap-daterangepicker.css" rel="stylesheet" />
    <link href="~/startui/css/lib/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" />
    <link href="~/startui/css/separate/pages/widgets.css" rel="stylesheet" />
}

@section css{
    <style>
        .label-content {
            color: #6b6fb9 !important;
            font-weight: 600;
        }

        .divider {
            border: 1px solid #c6c6c6;
            margin-bottom: 20px;
        }

        a.btn.title-history {
            width: 100% !important;
            background-color: white !important;
            color: black !important;
            text-align: left !important;
            border-color: #c6c6c6 !important;
        }

        .dataTables_length {
            display: none;
        }

        .widget-activity-item {
            border: 1px solid rebeccapurple;
            margin-top:10px;
        }
    </style>
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Crm")">Danh sách CRM</a></li>
    <li class="active">Thông tin ứng viên</li>
</ol>

<section class="card">
    <div class="card-block">
        <div class="row">
            <form id="update-candidate" asp-controller="Candidate" asp-action="Edit" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data" onsubmit="return checkSubmit();">
                @Html.HiddenFor(c => c.Id)
                @Html.HiddenFor(c=>c.CandidateStatusId)
                @Html.ValidationSummary()
                <div class="col-lg-12">
                    <h3>Thông tin khách hàng</h3>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <a class="btn btn-primary" href="@Url.Action("Edit", "Candidate")">Sửa thông tin</a>
                        <a class="btn btn-default" href="@Url.Action("Index", "Candidate")">Hủy</a>
                    </fieldset>
                </div>
            </form>
            <form id="comment-crm" asp-controller="Crm" asp-action="Comment" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
                <div class="col-lg-12">
                    <div class="divider"></div>
                </div>
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="Comment">Bình luận</label>
                        <textarea type="text" class="form-control" id="Comment" name="Comment"></textarea>
                        <small class="text-muted">Bạn phải bình luận hoặc đính kèm file để thực hiện chức năng này</small>
                    </fieldset>
                    <fieldset>
                        <label></label>
                        <input type="file" id="files" name="files" multiple="multiple" @*onchange="previewFile(this);"*@ />
                        <div id="preview"></div>
                    </fieldset>
                    <br />
                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-primary">Bình luận</button>
                    </fieldset>
                </div>
                <div class="col-lg-8">
                    <section class="widget widget-activity" style="margin-top:25px;">
                        <header class="widget-header">
                            Bình luận
                            <span class="label label-pill label-primary" id="countLogs">0</span>
                        </header>
                        <div id="logContent">
                        </div>
                    </section>
                </div>
            </form>

        </div>
    </div>
</section>

@section jsPlugin{
    <script src="~/startui/js/lib/moment/moment-with-locales.js"></script>
    <script src="~/startui/js/lib/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/startui/js/lib/clockpicker/bootstrap-clockpicker.min.js"></script>
    <script src="~/startui/js/lib/clockpicker/bootstrap-clockpicker-init.js"></script>
    <script src="~/startui/js/lib/daterangepicker/daterangepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script id="template-comment" type="x-tmpl-mustache">
        <div class="widget-activity-item">
            <div class="user-card-row">
                <div class="tbl-row">
                    <div class="tbl-cell tbl-cell-photo">
                        <a href="#"><img src="{{avatar}}" alt="Avatar"></a>
                    </div>
                    <div class="tbl-cell">
                        <p>
                            <a href="tel:{{phoneNumber}}" class="semibold">{{name}}</a>
                            {{{content}}}
                        </p>
                        {{#attachments}}
                            {{#isImage}}
                                <p>
                                    <a class="label-content" href="{{url}}" download>
                                        <img src="{{url}}" alt="Attachment file" width="104" height="142" />
                                    </a>
                                </p>
                            {{/isImage}}
                            {{^isImage}}
                                <p>
                                    <a class="label-content" href="{{url}}" download>{{name}}</a>
                                </p>        
                            {{/isImage}}
                        {{/attachments}}
                        <p>
                            <small>{{logDate}}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script>
        var tmpl=$('#template-comment').html();
        $(document).ready(function() {
            $('#divReason').css('display','none');
            Mustache.parse(tmpl);
            displayLogs();
        });
        function changeCrmStatus() {
            var crmStatus=$('#CrmStatusId').val();
            @*if(crmStatus=='@Model.CrmStatusDeleted') {
                $('#divReason').css('display','');
            } else {
                $('#divReason').css('display','none');
            }*@
        }
        function checkSubmit() {
            var contactDate=$('#ContactDate').val();
            var formatedDate=moment(contactDate,'DD-MM-YYYY HH:mm');
            $('#ContactDate').val(moment(formatedDate).format('YYYY-MM-DD HH:mm:ss'));
            return true;
        }
        function displayLogs() {
            $.post('@Url.Action("GetLogs", "Candidate")',
                {id:'@Model.Id'},
                function(result) {
                    //var liContent='';
                    for(var i=0;i<result.length;i++) {
                        var obj={
                                avatar:result[i].avatar,
                                name:result[i].name,
                                phoneNumber:result[i].phoneNumber,
                                content:result[i].content,
                                logDate:result[i].logDate,
                                attachments:result[i].attachmentModels
                            };
                        var rendered=Mustache.render(tmpl,obj);
                        $("#logContent").append(rendered);
                    }
                    //$('#logContent').html(liContent);
                    $('#countLogs').html(result.length);
                });
        }
    </script>
}

