@model Pelo.v2.Web.Models.Warranty.InsertWarrantyModel

@{
    ViewBag.Title = "Thêm mới bảo hành";
    Layout = "_Layout";
}

@section cssPlugin{
    <link href="~/startui/css/separate/vendor/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/startui/css/separate/vendor/bootstrap-daterangepicker.css" rel="stylesheet" />
    <link href="~/startui/css/lib/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" />
}

@section css{
    <style>
        .label-content {
            color: #6b6fb9;
            font-weight: 600;
        }

        .divider {
            border: 1px solid #c6c6c6;
            margin-bottom: 20px;
        }

        a.btn.title-history {
            width: 100% !important;
            background-color: white !important;
            color: black !important;
            text-align: left !important;
            border-color: #c6c6c6 !important;
        }

        .dataTables_length {
            display: none;
        }
    </style>
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Warranty")">Danh sách bảo hành</a></li>
    <li class="active">Thêm mới bảo hành</li>
</ol>

<section class="card">
    <div class="card-block">
        <form id="insert-warranty" method="post" onsubmit="return checkSubmit();">
            @Html.HiddenFor(c => c.CustomerId)
            @Html.ValidationSummary()
            <div class="row">
                <div class="col-lg-12">
                    <h3>Thông tin khách hàng</h3>
                </div>
                @await Component.InvokeAsync("CustomerDetail",
                                             Model.Customer)
                <div class="col-lg-12">
                    <div class="divider"></div>
                </div>
                <div class="col-lg-12">
                    <h3>Tạo thông tin bảo hành</h3>
                </div>
                <div class="col-lg-6">
                    <fieldset class="form-group">
                        <nop-label asp-for="ProductRaw" text-display="Chọn sản phẩm" />
                        <nop-select asp-for="ProductRaw" asp-items="Model.AvaiableProducts" asp-multiple="false" />
                    </fieldset>
                    <fieldset class="form-group">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="Total">Giá tiền</label>
                        <input asp-for="Total" class="form-control" type="text" placeholder="0" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="Deposit">Đã trả</label>
                        <input asp-for="Deposit" class="form-control" type="text" placeholder="0" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="Deposit">Còn lại</label>
                        <input asp-for="Deposit" class="form-control" type="text" placeholder="0" />
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <div class="divider"></div>
                </div>
                <fieldset class="form-group">
                    <label class="form-label semibold" for="ContactDate">Ngày hẹn</label>
                    <nop-editor asp-for="DeliveryDate" />
                    @Html.ValidationMessageFor(c => c.DeliveryDate)
                </fieldset>
                <fieldset class="form-group">
                    <nop-label asp-for="BranchId" text-display="Chi nhánh" />
                    <nop-select asp-for="BranchId" asp-items="Model.AvaiableBranches" />
                    @Html.ValidationMessageFor(c => c.BranchId)
                </fieldset>
                <fieldset class="form-group">
                    <label class="form-label semibold" for="Description">Ghi chú</label>
                    <textarea type="text" class="form-control" id="Description" name="Description"></textarea>
                </fieldset>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                        <a class="btn btn-default" href="@Url.Action("Index", "Crm")">Hủy</a>
                    </fieldset>
                </div>
            </div>

        </form>
    </div>
</section>

@section jsPlugin{
    <script src="~/startui/js/lib/moment/moment-with-locales.js"></script>
    <script src="~/startui/js/lib/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/startui/js/lib/clockpicker/bootstrap-clockpicker.min.js"></script>
    <script src="~/startui/js/lib/clockpicker/bootstrap-clockpicker-init.js"></script>
    <script src="~/startui/js/lib/daterangepicker/daterangepicker.js"></script>
    <script>
        function checkSubmit() {
            var contactDate = $('#ContactDate').val();
            var formatedDate = moment(contactDate, 'DD-MM-YYYY HH:mm');
            $('#ContactDate').val(moment(formatedDate).format('YYYY-MM-DD HH:mm:ss'));
            return true;
        }
    </script>
}
