@model Pelo.v2.Web.Models.Branch.UpdateBranchModel
@{
    ViewBag.Title = "Thêm mới chi nhánh";
    Layout = "_Layout";
}
@section cssPlugin{
    <link rel="stylesheet" href="@Url.Content("~/lib/spectrum/spectrum.css")">
}
@section jsPlugin {
    <script src="@Url.Content("~/lib/spectrum/spectrum.js")"></script>
}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Branch")">Danh sách chi nhánh</a></li>
    <li class="active">Thêm mới chi nhánh</li>
</ol>

<section class="card">
    <div class="card-block">
        <form asp-controller="Branch" asp-action="Add" method="post" id="role-form">
            @Html.ValidationSummary()
            <div class="row">
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="Name">Tên</label>
                        <input asp-for="Name" class="form-control" type="text" placeholder="Tên" />
                        @Html.ValidationMessageFor(c => c.Name)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="Address">Địa chỉ</label>
                        <input asp-for="Address" class="form-control" type="text" placeholder="Địa chỉ" />
                        @Html.ValidationMessageFor(c => c.Address)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="Name">Hotline</label>
                        <input asp-for="Hotline" class="form-control" type="text" placeholder="Hotline" />
                        @Html.ValidationMessageFor(c => c.Hotline)
                    </fieldset>
                </div>
                <fieldset class="form-group">
                    <nop-label asp-for="ProvinceId" text-display="Tỉnh thành" />
                    <nop-select asp-for="ProvinceId" asp-items="Model.AvaiableProvinces" />
                    @Html.ValidationMessageFor(c => c.ProvinceId)
                </fieldset>
                <fieldset class="form-group">
                    <nop-label asp-for="DistrictId" text-display="Quận huyện" />
                    <nop-select asp-for="DistrictId" asp-items="Model.AvaiableDistricts" />
                    @Html.ValidationMessageFor(c => c.DistrictId)
                </fieldset>
                <fieldset class="form-group">
                    <nop-label asp-for="WardId" text-display="Xã phường" />
                    <nop-select asp-for="WardId" asp-items="Model.AvaiableWards" />
                    @Html.ValidationMessageFor(c => c.WardId)
                </fieldset>

                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                        <a class="btn btn-default" href="@Url.Action("Index", "Branch")">Hủy</a>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</section>

@section js{
    <script>
        $(document).ready(function () {
            $('.opened').removeClass('opened');
            $('.row-active').removeClass('row-active');
            $('#liSystem').addClass('opened');
            $('#liBranch').addClass('row-active');
        })
    </script>
}
