@using Newtonsoft.Json
@model Pelo.v2.Web.Models.Crm.UpdateCrmModel

@{
    ViewBag.Title = "Thông tin CRM " + Model.Code;
    Layout = "_Layout";
}

@section cssPlugin{
    <link href="~/startui/css/separate/vendor/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/startui/css/separate/vendor/bootstrap-daterangepicker.css" rel="stylesheet" />
    <link href="~/startui/css/lib/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" />
    <link href="~/startui/css/separate/pages/widgets.css" rel="stylesheet" />
}

@section css{
    <style>
        .label-content {
            color: #6b6fb9;
            font-weight: 600;
        }

        .divider {
            border: 1px solid #c6c6c6;
            margin-bottom: 20px;
        }

        a.btn.title-history {
            width: 100% !important;
            background-color: white !important;
            color: black !important;
            text-align: left !important;
            border-color: #c6c6c6 !important;
        }

        .dataTables_length {
            display: none;
        }
    </style>
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Crm")">Danh sách CRM</a></li>
    <li class="active">Thông tin CRM: @Model.Code</li>
</ol>

<section class="card">
    <div class="card-block">
        <div class="row">
            <form id="insert-crm" method="post">
                @Html.HiddenFor(c => c.CustomerId)
                @Html.ValidationSummary()
                <div class="col-lg-12">
                    <h3>Thông tin khách hàng</h3>
                </div>
                @await Component.InvokeAsync("CustomerDetail",
                                             Model.Customer)
                <div class="col-lg-12">
                    <div class="divider"></div>
                </div>
                <div class="col-lg-12">
                    <h3>Chi tiết cơ hội bán hàng</h3>
                </div>
                @Html.HiddenFor(c => c.Id)
                <div class="col-lg-6">
                    <fieldset class="form-group">
                        <nop-label asp-for="Code" text-display="Mã cơ hội" />
                        <nop-editor asp-for="Code" asp-disabled="true" />
                        @Html.ValidationMessageFor(c => c.Need)
                    </fieldset>
                    <fieldset class="form-group">
                        <nop-label asp-for="UserCreated" text-display="Người tạo" />
                        <nop-editor asp-for="UserCreated" asp-disabled="true" />
                        @Html.ValidationMessageFor(c => c.UserCreated)
                    </fieldset>
                    <fieldset class="form-group">
                        <nop-label asp-for="DateCreated" text-display="Ngày tạo" />
                        <input class="form-control" value="@string.Format(AppUtil.DATE_TIME_FORMAT, Model.DateCreated)" disabled="disabled" />
                        @Html.ValidationMessageFor(c => c.DateCreated)
                    </fieldset>
                    <fieldset class="form-group">
                        <nop-label asp-for="Need" text-display="Nhu cầu" />
                        <nop-editor asp-for="Need" placeholder="Nhu cầu" />
                        @Html.ValidationMessageFor(c => c.Need)
                    </fieldset>
                    <fieldset class="form-group">
                        <nop-label asp-for="Description" text-display="Ghi chú" />
                        <textarea asp-for="Description" class="form-control" type="text" placeholder="Ghi chú"></textarea>
                        @Html.ValidationMessageFor(c => c.Description)
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="ContactDate">Ngày liên hệ</label>
                        <nop-editor asp-for="ContactDate" />
                        @Html.ValidationMessageFor(c => c.ContactDate)
                    </fieldset>
                    <fieldset class="form-group">
                        <nop-label asp-for="UserCareIds" text-display="Người phụ trách" />
                        <nop-select asp-for="UserCareIds" asp-items="Model.AvaiableUserCares" asp-multiple="true" />
                        @Html.ValidationMessageFor(c => c.UserCareIds)
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset class="form-group">
                        <nop-label asp-for="CrmPriorityId" text-display="Mức độ khẩn cấp" />
                        <nop-select asp-for="CrmPriorityId" asp-items="Model.AvaiableCrmPriorities" />
                        @Html.ValidationMessageFor(c => c.CrmPriorityId)
                    </fieldset>
                    <fieldset class="form-group">
                        <nop-label asp-for="CrmStatusId" text-display="Trạng thái CRM" />
                        <nop-select asp-for="CrmStatusId" asp-items="Model.AvaiableCrmStatuses" />
                        @Html.ValidationMessageFor(c => c.CrmStatusId)
                    </fieldset>
                    <fieldset class="form-group">
                        <nop-label asp-for="CustomerSourceId" text-display="Nguồn khách hàng" />
                        <nop-select asp-for="CustomerSourceId" asp-items="Model.AvaiableCustomerSources" />
                        @Html.ValidationMessageFor(c => c.CustomerSourceId)
                    </fieldset>
                    <fieldset class="form-group">
                        <nop-label asp-for="ProductGroupId" text-display="Nhóm sản phẩm" />
                        <nop-select asp-for="ProductGroupId" asp-items="Model.AvaiableProductGroups" />
                        @Html.ValidationMessageFor(c => c.ProductGroupId)
                    </fieldset>
                    <fieldset class="form-group">
                        <nop-label asp-for="CrmTypeId" text-display="Kiểu chốt" />
                        <nop-select asp-for="CrmTypeId" asp-items="Model.AvaiableCrmTypes" />
                        @Html.ValidationMessageFor(c => c.CrmTypeId)
                    </fieldset>
                    <fieldset class="form-group">
                        <nop-label asp-for="IsVisit" text-display="Đến cửa hàng" />
                        <nop-select asp-for="IsVisit" asp-items="Model.AvaiableVisits" />
                        @Html.ValidationMessageFor(c => c.IsVisit)
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                        <a class="btn btn-default" href="@Url.Action("Index", "Crm")">Hủy</a>
                    </fieldset>
                </div>
            </form>
            <form id="comment-crm" asp-controller="Crm" asp-action="Comment" method="post">
                <div class="col-lg-12">
                    <div class="divider"></div>
                </div>
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="Comment">Bình luận</label>
                        <textarea type="text" class="form-control" id="Comment" name="Comment"></textarea>
                        <small class="text-muted">Bạn phải bình luận hoặc đính kèm file để thực hiện chức năng này</small>
                    </fieldset>
                </div>
                <div class="col-lg-8">
                    <section class="widget widget-activity" style="margin-top:25px;">
                        <header class="widget-header">
                            Bình luận
                            <span class="label label-pill label-primary" id="countLogs">0</span>
                        </header>
                        <div id="logContent">
                            @*<div class="widget-activity-item">
                                <div class="user-card-row">
                                    <div class="tbl-row">
                                        <div class="tbl-cell tbl-cell-photo">
                                            <a href="#">
                                                <img src="img/photo-64-2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="tbl-cell">
                                            <p>
                                                <a href="#" class="semibold">Nina Jones</a>
                                                added a new product
                                                <a href="#">Free UI Kit</a>
                                            </p>
                                            <p>Just Now</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-activity-item">
                                <div class="user-card-row">
                                    <div class="tbl-row">
                                        <div class="tbl-cell tbl-cell-photo">
                                            <a href="#">
                                                <img src="img/avatar-1-64.png" alt="">
                                            </a>
                                        </div>
                                        <div class="tbl-cell">
                                            <p>
                                                <a href="#" class="semibold">James Smith</a>
                                                commpleted task
                                                <a href="#">Free PSD Template</a>
                                            </p>
                                            <p>40 minutes ago</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-activity-item">
                                <div class="user-card-row">
                                    <div class="tbl-row">
                                        <div class="tbl-cell tbl-cell-photo">
                                            <a href="#">
                                                <img src="img/avatar-2-64.png" alt="">
                                            </a>
                                        </div>
                                        <div class="tbl-cell">
                                            <p>
                                                <a href="#" class="semibold">Alex Clooney</a>
                                                commpleted task
                                                <a href="#">Sumu Website</a>
                                            </p>
                                            <p>1 hours ago</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-activity-item">
                                <div class="user-card-row">
                                    <div class="tbl-row">
                                        <div class="tbl-cell tbl-cell-photo">
                                            <a href="#"><img src="img/avatar-3-64.png" alt=""></a>
                                        </div>
                                        <div class="tbl-cell">
                                            <p><a href="#" class="semibold">Nina Jones</a>added a new product<a href="#">Free UI Kit</a></p><p>Just Now</p>
                                            </div>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </section>
                </div>
            </form>

        </div>
    </div>
</section>

@section jsPlugin{
    <script src="~/startui/js/lib/moment/moment-with-locales.js"></script>
    <script src="~/startui/js/lib/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/startui/js/lib/clockpicker/bootstrap-clockpicker.min.js"></script>
    <script src="~/startui/js/lib/clockpicker/bootstrap-clockpicker-init.js"></script>
    <script src="~/startui/js/lib/daterangepicker/daterangepicker.js"></script>
    <script>
        $(document).ready(function() {
            $('#ContactDate').val('@string.Format(AppUtil.DATE_TIME_FORMAT,Model.ContactDate)');
            $('#UserCareIds').val(JSON.parse('@JsonConvert.SerializeObject(Model.UserCareIds)')).trigger('change');
            displayLogs();
        });
        function displayLogs() {
            $.post('@Url.Action("GetLogs","Crm")',
                {id:'@Model.Id'},
                function(result) {
                    var liContent='';
                    for(var i=0;i<result.length;i++) {
                        liContent+='<div class="widget-activity-item">'+
                            '<div class="user-card-row">'+
                            '<div class="tbl-row">'+
                            '<div class="tbl-cell tbl-cell-photo"><a href="#"><img src="'+
                            result[i].avatar+
                            '" alt=""></a></div>'+
                            '<div class="tbl-cell"><p><a href="tel:'+
                            result[i].phoneNumber+
                            '" class="semibold">'+
                            result[i].name+
                            '</a> '+
                            result[i].content+
                            '</p><p>'+
                            result[i].logDate+
                            '</p></div>'+
                            '</div>'+
                            '</div>'+
                            '</div>';
                    }
                    $('#logContent').html(liContent);
                    $('#countLogs').html(result.length);
                });
        }
    </script>
}

